@model IEnumerable<Zero_Hunger.Models.addFoodDTO>

@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_restLayout.cshtml";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}

@if (Model == null)
{
    <h2><b><i>No food is added yet</i></b></h2>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>
                Type
            </th>
            <th>
                Quantity
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.type
                </td>
                <td>
                    @item.quantity
                </td>
            </tr>
        }
    </table>
}

@Html.ActionLink("Add more Food", "add", "restaurant", new { area = "" }, new { @class = "btn btn-success" })
@Html.ActionLink("Add to Request", "checkout", "restaurant", new { area = "" }, new { @class = "btn btn-dark" })
@Html.ActionLink("Clear", "clear", "restaurant", new { area = "" }, new { @class = "btn btn-danger" })
